@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://colormagic.app/palette/EjAuxBhbIs7g0Wtx9cj0 */

:root {
  --background: #79a45691;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
}

@media screen and (width > 640px) {
  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  *::-webkit-scrollbar:vertical {
    width: 3px;
  }

  *::-webkit-scrollbar:horizontal {
    height: 3px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 150px;
    border: 3px solid transparent; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

/*
  background: linear-gradient(
    135deg,
    #f9f97199 20%,
    #c5d86e99 30%,
    #f9f971 60%,
    #c5d86e99 90%,
    #f9f97199 100%
  );
*/
