@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://colormagic.app/palette/EjAuxBhbIs7g0Wtx9cj0 */

:root {
  --background: #79a45691;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    135deg,
    #fff 20%,
    #c5d86e 30%,
    #fff 60%,
    #c5d86e 90%,
    #fff 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}
